<div class="card-body">
    <h5 class="card-title">Elon Musk</h5>
    <div class="row">
        <div class="col-4">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/85/Elon_Musk_Royal_Society_%28crop1%29.jpg/440px-Elon_Musk_Royal_Society_%28crop1%29.jpg"
                class="img-thumbnail">
        </div>
        <div class="col-6">

            <p class="card-text">Es un emprendedor y magnate sudafricano, nacionalizado canadiense y estadounidense.
                Cofundador de PayPal, SpaceX, Hyperloop, SolarCity, The Boring Company, Neuralink y OpenAI. Es director
                general de SpaceX, de Tesla Motors, presidente de SolarCity y copresidente de OpenAI. Es una de las
                personas
                más ricas del mundo, según la revista Forbes.</p>
        </div>
    </div>
</div>